<!doctype html>
<title>Accueil</title>
{% if name %}
  <h1>Ravi de vous revoir {{ name }}!</h1>
{% else %}
  <h1>Hello, User!</h1>
{% endif %}

<a href="cavaliers.html">Cavaliers</a>
<a href="pays.html">Pays</a>
<a href="chevaux.html">Chevaux</a>
<a href="couples.html">Couples</a>
<head>
      <link rel="stylesheet" href="hello.css">
      <h2> Bienvenue sur le répertoire des  meilleurs chevaux et couples olympiques ! </h2>

</head>

<body>
    <h4> Ici vous trouverez : </h4>
    <li>Les meilleurs cavaliers  </li>
    <li>Les pays les plus médaillés  </li>
    <li>Les chevaux les plus connus et des informations diverses  </li>
    <li>Les meilleurs couples en fonction de chaque discipline olympique  </li>

    <h3>Les différentes disciplines:</h3>
    <h4>Le concours complet</h4>
        Le concours complet est l'héritier des épreuves militaires demandées au cheval d'armes.
        Il est composé de trois épreuves bien distinctes qui combinent plusieurs disciplines : le dressage, le cross et le saut d’obstacles.

    <h4>Le dressage</h4>
        Il consiste à éprouver le couple cavalier-cheval dans l'éxécution enchaînée de plusieurs mouvements et ainsi mettre en évidence d'un côté la légèreté et la soumission du cheval et de l’autre la parfaite maîtrise du cavalier.
        L’ensemble des mouvements constitue une « reprise » qui s’exécute sur une carrière délimitée de 60 m par 20 m, sur laquelle des lettres ont été disposées afin de servir de repères.
        Chaque reprise débute et se termine par un arrêt et un salut, ce qui délimite le temps imparti de la prestation.
        Les reprises sont connues à l'avance par les cavaliers qui les apprennent par cœur.

    <h4>Le saut d'obstacles</h4>
        Il consiste simplement au franchissment de plusieurs obstacles mobiles dans un ordre péétabli et ce le plus rapidement possible.
        Il existe une multitude d'obstacles différents à franchir, mais ils sont regroupés en 3 catégories: les verticaux, les larges, et les naturels.
        Chaque obstacle est doté d'un numéro et de deux fanions, un blanc à gauche et un rouge à droite, pour permettre au cavalier de repérer son parcours.
</body>
