<!doctype html>
<title>Hello</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
      <p>Ravi de vous revoir!</p>
{% else %}
  <h1>Hello, User!</h1>
{% endif %}

<a href="cavaliers.html">Cavaliers</a>
<a href="pays.html">Pays</a>
<a href="chevaux.html">Chevaux</a>
<a href="couples.html">Couples</a>
<head>
      <link rel="stylesheet" href="hello.css">
      <h2> Bienvenue sur le répertoire des  meilleurs chevaux et couples olympiques ! </h2>

</head>

<body>
    <h4> Ici vous trouverez : </h4>
    <li>Les meilleurs cavaliers  </li>
    <li>Les pays les plus médaillés  </li>
    <li>Les chevaux les plus connus et des informations diverses  </li>
    <li>Les meilleurs couples en fonction de chaque discipline olympique  </li>

</body>
